CamCan Client Handover/CamCan/Service References/CamCanService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CamCan_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CamCan_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Scenario">
    <xs:sequence>
      <xs:element minOccurs="0" name="_questions" nillable="true" type="tns:ArrayOfQuestion" />
      <xs:element minOccurs="0" name="_sID" type="xs:int" />
      <xs:element minOccurs="0" name="_text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_videoLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="questions" nillable="true" type="tns:ArrayOfQuestion" />
      <xs:element minOccurs="0" name="sID" type="xs:int" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="videoLink" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Scenario" nillable="true" type="tns:Scenario" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="_ansA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_ansB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_ansC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_ansD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_correctAns" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_id" type="xs:int" />
      <xs:element minOccurs="0" name="_questionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ansA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ansB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ansC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ansD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correctAns" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="questionText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
</xs:schema>