CamCan Client Handover/CamCan/Service References/CamCanService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://drupal.mydesign.central.wa.edu.au/CamCanVirtual/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CamCan_Service" />
  <xs:import schemaLocation="http://drupal.mydesign.central.wa.edu.au/CamCanVirtual/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="returnScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnScenarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CamCan_Service" minOccurs="0" name="returnScenarioResult" nillable="true" type="q1:Scenario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnComleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnComletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnComletedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenNum" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="metaValue" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertAnswerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>